html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0 auto;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

button:focus {
  outline: none !important;
}

:root {
  --colW: rgb(255, 255, 255);
}

/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../font/montserrat-v14-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../font/montserrat-v14-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../font/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../font/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.content {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.baner {
  width: 100%;
  min-height: 540px;
  background-color: black;
  background-image: url(../img/VectorSmartObject.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
}

.header-nav {
  text-align: center;
}

.heaher-nav-name {
  margin-bottom: 115px;
  padding-top: 20px;
}

.header-nav-item {
  display: inline-block;
  height: 37px;
  width: 92px;
  text-align: center;
  border-radius: 22px;
  font-size: 0;
  border: 4px solid rgba(255, 255, 255, 0);
  padding-top: 5px;
  margin: 0;
}

.header-nav-item:hover,
.header-nav-item:focus {
  border: 4px solid rgb(255, 255, 255);
}

.header-nav-link {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
  color: var(--colW);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header-text {
  color: var(--colW);
  /* margin: 0; */
  padding: 0;
}

.header-title {
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat";
  color: var(--colW);
  margin: 0;
  padding: 0;
}

.logo {
  margin-bottom: 30px;
}

.title-text {
  font-family: "Montserrat";
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.title-text-text {
  font-family: "Roboto";
  font-size: 18px;
  width: 220px;
  margin-bottom: 40px;
}

.header-button {
  background-color: rgb(255, 78, 80);
  border: 2px solid rgb(255, 78, 80);
  border-radius: 50px;
  color: var(--colW);
  color: var(--colW);
  font-size: 14px;
  font-family: "Montserrat";
  text-decoration: none;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title-main {
  font-size: 22px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 20px;
}

.divide {
  width: 200px;
  margin-bottom: 30px;
}

.picture::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  border: 6px solid var(--colW);
  width: 45px;
  height: 45px;
  right: 20%;
  bottom: -7px;
  background-position: center center;
  background-repeat: no-repeat;
}

.picture.icon-shape_1 {
  position: relative;
}

.icon-shape_1::before {
  background-color: rgb(255, 78, 80);
  background-image: url(../img/Shape128.png);
}

.picture.icon-shape_2 {
  position: relative;
}

.icon-shape_2::before {
  background-color: rgb(255, 165, 7);
  background-image: url(../img/Shape155.png);
}

.picture.icon-shape_3 {
  position: relative;
}

.icon-shape_3::before {
  background-color: rgb(28, 215, 173);
  background-image: url(../img/Shape153.png);
}

.picture.icon-shape_4 {
  position: relative;
}

.icon-shape_4::before {
  background-color: rgb(78, 115, 219);
  background-image: url(../img/Shape170.png);
}

.pict {
  border-radius: 100%;
  margin-bottom: 20px;
}

.title-pict {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  margin-bottom: 15px;
}

.pict-text {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(102, 102, 102);
}

.button-and {
  border-radius: 20px;
  border: 3px solid rgb(255, 78, 80);
  height: 40px;
  width: 280px;
  margin-bottom: 55px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 78, 80);
  background-color: white;
}

@media (min-width: 748px) {
  .content {
    min-width: 660px;
  }

  .baner {
    min-height: 700px;
    background-image: url(../img/VectorSmartObject2.png);
  }

  .header-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 140px;
  }

  .heaher-nav-name {
    margin: 0;
    margin-top: 40px;
    padding: 0;
  }

  .logo {
    padding: 0;
    margin: 0;
    margin-top: 50px;
  }

  .header-text {
    width: 508px;
  }

  .title-text {
    font-size: 52px;
    margin-bottom: 25px;
  }

  .title-text-text {
    font-size: 24px;
    width: 508px;
    margin-bottom: 55px;
  }

  .header-button {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .title-main {
    margin-bottom: 35px;
  }

  .divide {
    width: 292px;
    margin-top: 30px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .divide:nth-of-type(2) {
    order: 3;
  }

  .divide:nth-of-type(3) {
    order: 2;
  }

  .divide:nth-of-type(4) {
    order: 4;
  }

  .button-and {
    margin-top: 10px;
    width: 192px;
    margin-bottom: 40px;
  }
}

@media (min-width: 942px) {
  .content {
    min-width: 942px;
  }

  .baner {
    background-image: url(../img/VectorSmartObject3.png);
  }

  .flex {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
  }
}
