// шрифты

$font-nav: 'Montserrat', sans-serif;
$font-title: 'Kaushan Script', sans-serif;
$font-text: 'Roboto', sans-serif;

// цвета

$col-white: rgb(255, 255, 255);
$col-hover: rgb(252, 227, 138);
$col-after: rgb(243, 129, 129);
$col-border: rgb(229, 229, 229);
$col-icon:rgb(149, 225, 211);
$col-title: rgb(51, 51, 51);
$col-text: rgb(153, 153, 153);
$col-footer: rgb(102, 102, 102);
$col-imput: rgb(204, 204, 204);